.card-status {
  display: flex;
  flex-direction: column;
  height: var(--dimension-card-height);
  align-items: flex-start;
  position: relative;
}

.card-status-active {
  opacity: 1;
}

.card-status-inactive {
  opacity: 0.5;
}

.card-status-inactive .card {
  opacity: 0.5;
  cursor: default;
}

.card-status .card {
  width: var(--layout-card-set-width);
}

