.card-set {
  display: flex;
  height: var(--dimension-card-set-height);
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  border-radius: var(--radius-small);
  width: var(--layout-card-set-width);
  flex-shrink: 0;
}

.card-set-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  padding: var(--spacing-05);
  width: var(--layout-card-content-width);
  flex-shrink: 0;
}

.card-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-title {
  flex: 1 1 0;
  font-family: var(--typography-heading-05-family);
  font-weight: var(--typography-heading-05-weight);
  font-size: var(--typography-heading-05-size);
  line-height: var(--typography-heading-05-line-height);
  color: var(--color-text-on-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.card-subtitle-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.card-subtitle {
  flex: 1 1 0;
  font-family: var(--typography-body-compact-02-family);
  font-weight: var(--typography-body-compact-02-weight);
  font-size: var(--typography-body-compact-02-size);
  line-height: var(--typography-body-compact-02-line-height);
  color: var(--color-text-on-color);
  min-width: 0;
}

.card-set-image-container {
  display: flex;
  height: var(--dimension-card-set-height);
  align-items: center;
  width: var(--layout-card-image-width);
  flex-shrink: 0;
}

.card-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: var(--dimension-card-image-container-size);
  height: var(--dimension-card-image-container-size);
  flex-shrink: 0;
}

.card-image-rotation-outer {
  transform: rotate(var(--transform-card-rotation));
  flex: none;
}

.card-image-cover {
  background: var(--color-background-card);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: var(--radius-cover);
  width: var(--dimension-card-image-size);
  height: var(--dimension-card-image-size);
}

.card-image-cover-inner {
  flex: 1 1 0;
  display: flex;
  height: 83.674px;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}

.card-image-rotation-inner {
  transform: rotate(var(--transform-image-rotation));
  flex: none;
  width: 100%;
}

.card-image-aspect {
  aspect-ratio: var(--dimension-card-image-aspect-ratio);
  position: relative;
  width: 100%;
  height: 100%;
}

.card-image {
  position: absolute;
  inset: 0;
  max-width: none;
  object-fit: contain;
  object-position: 50% 50%;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
