.card-set {
  display: flex;
  height: 108px;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  flex-shrink: 0;
}

.card-set-blue {
  background-color: #00a3fe;
}

.card-set-pink {
  background-color: #fba7b4;
}

.card-set-yellow {
  background-color: #fac042;
}

.card-set-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  padding: 16px;
  width: 265px;
  flex-shrink: 0;
}

.card-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-title {
  flex: 1 1 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.card-subtitle-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.card-subtitle {
  flex: 1 1 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  min-width: 0;
}

.card-set-image-container {
  display: flex;
  height: 108px;
  align-items: center;
  width: 120px;
  flex-shrink: 0;
}

.card-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 130.195px;
  height: 130.195px;
  flex-shrink: 0;
}

.card-image-rotation-outer {
  transform: rotate(28deg);
  flex: none;
}

.card-image-cover {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 2.962px;
  width: 96.268px;
  height: 96.268px;
}

.card-image-cover-inner {
  flex: 1 1 0;
  display: flex;
  height: 83.674px;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}

.card-image-rotation-inner {
  transform: rotate(2deg);
  flex: none;
  width: 100%;
}

.card-image-aspect {
  aspect-ratio: 84.2679 / 80.7821;
  position: relative;
  width: 100%;
  height: 100%;
}

.card-image {
  position: absolute;
  inset: 0;
  max-width: none;
  object-fit: contain;
  object-position: 50% 50%;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
