.search-bar {
  background-color: #4d5358;
  display: flex;
  flex-direction: column;
  height: 60px;
  align-items: flex-start;
  opacity: 0.6;
  padding: 10px 16px;
  border-radius: 16px;
  flex-shrink: 0;
  width: 385px;
  max-width: 100%;
  border: none;
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.search-icon-container {
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.search-icon {
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
}

.search-placeholder {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #a8a8a8;
  text-align: left;
  height: 30px;
  width: 217px;
}
